.mainerror{
    height: 60vh;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-image: url(../../image/error.png);
    object-fit: cover;
    color: rgb(20, 45, 187)
}

